@import "sass-rem";

/*@import url("https://hello.myfonts.net/count/496482");*/

@font-face {
  font-family: "ProximaNova";
  src: url('./fonts/ProximaNovaRegular/font.woff2') format('woff2'), url('./fonts/ProximaNovaRegular/font.woff') format('woff');
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url('./fonts/ProximaNovaSemibold/font.woff2') format('woff2'), url('./fonts/ProximaNovaSemibold/font.woff') format('woff');
}

.v-btn, .v-tab {
  text-transform:none !important;
}

.v-btn {
  font-weight: 600!important;
}

body {
  font-size: 20px;
}

.fx-card-border-top-brand2 {
  border-top-width: 4px!important;
  border-top-style: solid;
  border-top-color: var(--v-brand2-base) !important;
}

.fx-card-border-top-primary {
  border-top-width: 4px!important;
  border-top-style: solid;
  border-top-color: var(--v-primary-base) !important;
}

label {
  font-size: .875rem;
  line-height: 1.063rem;
  color: var(--v-info-darken1);
}

tr:hover{ background: #F8FAFC!important; }
